.exampleModals{
    height: 80vh !important;
    /* width: 74vw !important; */
}
.modal-contents{
    height: 80vh !important;
    /* width: 74vw !important;   */
}
.tableRow{
    /* width: 100%; */
    padding: 0px 2%;
    /* width: 80% !important;   */
    
}
.tableRowtable{
    

}
.selectionList{
    padding: 20px 0px;

}
.selectionsBack{
    /* background-color: rgb(99, 152, 199)!important; */
    background-color: #023950;
}